
header*{
	display: inline-block;
}
*{
	vertical-align: middle;
	max-width: 150%;
}

body{
	background-image: url("img/bg.jpg");
	background-repeat: repeat;
}
.inic{
	font-size: 32px;
}
.home{
	font-size: 30px;
	margin-left: 20px
}


.tittle{
	font-size: 34px;
	display: block;
	padding-right: 11px;
	padding-top: 5px;
}

.div{
	top: 90%;
}
.admin{
	text-align: center;

}
.final{
	display: block;
	padding-left: 650px;
}
.div{
	border-width: 1px;
	border-color: black;
}
