
header*{
	display: inline-block;
}
*{
	vertical-align: middle;
	max-width: 150%;
}

body{
	background-image: url(bg.jpg);
	background-repeat: repeat;
}
.inic{
	font-size: 32px;
}
.home{
	font-size: 26px;
	margin-left: 20px
}


.tittle{
	font-size: 34px;
	display: block;
	padding-right: 11px;
	padding-top: 5px;
}

.div{
	top: 90%;
}
.admin{
	text-align: center;

}
.gif{
	
}