table{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 30%;
}
td, th {
  border: 1px;
  text-align: left;
  padding: 5px;
}

th, td{
  border:1px solid black;
  border-collapse: collapse;
}

body{
  background-image: url(img/bg.jpg);
}

.tw{
  padding-left: 6px;
}